mat-card {
  margin: 30px 40px;
}
table {
  width: 100%;

}
div.title {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
  margin-right: 30px;
}

mat-form-field {
  margin-right: 10px;
  width: 204px;
}